* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 20px 50px;
    background-color: #68563f1e;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* .navlink {} */


.heading {
    color: black;
    font-family: "Sixtyfour", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-optical-sizing: auto;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.navlink1,
.navlink2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    text-decoration: none;
    margin-left: 2rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    margin: 50px;
    background-color: #68563f1e;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    place-items: center;
}



#content {
    flex: 1;
    padding: 50px;
}

#home-image {
    max-width: 80%;
    border-radius: 50px;
    margin: 50px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#content-heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #333;
    width: 50%;
    margin: 20px auto;
}



#content-para {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin: 5rem 0;
}

#rent-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    width: 8rem;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#rent-button:hover {
    background-color: #555;
}


.footer {
    margin: 20px 50px;
    background-color: #68563f1e;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer-text {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}

.linkedin-link {
    color: #f30808;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        justify-content:space-evenly;
    }

    .main {
        grid-template-columns: repeat(1, 1fr);
        /* padding: 0 20px; */
    }

    #home-image {
        max-width: 80%;
    }
}










/* .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

// <uniquifier>: Use a uniquifier for the class name

.sixtyfour-<uniquifier> {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}
   */